<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="columna-foto">
    <img [src]="'../../../assets/imagenes/'+persona.imagen_perfil" class="img-fluid" id="fotoperfil">
    <h4 id="nombre">{{persona.apellido}}, {{persona.nombre}}</h4>
    <h4 id="titulo">{{persona.titulo}}</h4>
  </div>
  <div class="col" id="aboutme">
    <p><b>¡Bienvenidos a mi portfolio!</b>
      <br />
      Aquí encontrarán información sobre mi formación académica y personal.
      Me considero una persona proactiva, ya que por mi experiencia laboral he comprobado que el trabajo en equipo es
      fundamental para
      nutrirse de otros saberes, de otras miradas y así, construir nuevos saberes que respondan a las demandas de la
      sociedad actual en
      la cual nos encontramos insertos.
      <br />
      He comprobado también que, más en la enseñanza a niños y niñas, que el pensamiento computacional debe ser algo
      fundamental a
      desarrollarse hoy en día.
      <br />
      Estoy finalizando la Tecnicatura Universitaria en Programación de la UTN Facultad Regional Paraná.
      Interesado en la robótica, por lo que, luego de finalizar la TUP, me dispondré a estudiar sobre robótica e
      inteligencia artificial.
      Espero les agrade mi Portfolio. Sean todos y todas bienvenidos/as nuevamente.
    </p>
  </div>
</div>
