:root{
  --colorTextos: #120a0a;
}

*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background: #8E0E00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label{
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--colorTextos);
  position: absolute;
  top: 10px;
  left: 5px;
  transition: 0.5s ease-in-out all;
  pointer-events: none;
}

form{
  background: #fff;
  padding: 40px 0;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.form{
  width: 100%;
  margin: auto;
}

form .form-group{
  position: relative;
  margin: 35px;
}

#nombre{
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 5px 5px 5px 2.5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#nombre:focus{
  outline: none;
  color: #5e5d5d;
}

#nombre:focus~label,
#nombre:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3
}

#nombre:focus~.barra::before{
  width: 100%;
}

#descripcion{
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 5px 5px 5px 2.5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#descripcion:focus{
  outline: none;
  color: #5e5d5d;
}

#descripcion:focus~label,
#descripcion:valid~label{
  top: -14px;
  font-size: 12px;
  color: #2196f3
}

#descripcion:focus~.barra::before{
  width: 100%;
}

#fecha_inicio{
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 5px 5px 5px 2.5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#fecha_inicio:focus{
  outline: none;
  color: #5e5d5d;
}

#fecha_inicio:focus~.barra::before{
  width: 100%;
}

#fecha_fin{
  background: none;
  color: #c6c6c6;
  font-size: 16px;
  padding: 5px 5px 5px 2.5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--colorTextos);
}

#fecha_fin:focus{
  outline: none;
  color: #5e5d5d;
}

#fecha_fin:focus~.barra::before{
  width: 100%;
}

.barra{
  position: relative;
  display: block;
  width: 100%;
}

.barra::before{
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(to right, #1F1C18, #8E0E00);
  transition: 0.3s ease width;
  left: 0;
}

button{
  width: 80%;
  margin: 10px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}

#botonera{
  padding-left: 30px;
}

@media screen and (max-width: 500px){
  .form{
    width: 80%;
  }
}
