<div class="row">
  <h1>Experiencia laboral</h1>
  <div>
    <button type="button" class="btn btn-outline-light" routerLink="/agregarexp" *ngIf="isLoged"> Agregar experiencia</button>
    <div>
      <table class="table">
        <thead class="thead-light">
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Inicio</th>
          <th scope="col">Finalización</th>
        </thead>
        <tbody>
          <tr *ngFor="let exp of experiencia">
            <th scope="row">{{exp.id}}</th>
            <td>{{exp.nombre}}</td>
            <td>{{exp.descripcion}}</td>
            <td>{{getYearInicio(exp.fecha_inicio)}}</td>
            <td>{{getYearFin(exp.fecha_fin)}}</td>
            <td *ngIf="isLoged"><button type="button" class="btn btn-light" routerLink="/editarexp/{{exp.id}}"><i class="bi bi-pencil"></i></button></td>
            <td *ngIf="isLoged"><button type="button" class="btn btn-danger" routerLink="/borrarexp/{{exp.id}}" (click)="eliminar(exp.id)"><i class="bi bi-trash"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
